#album.releases.spacer
  %h3
    Movies
  .row
    .col-sm-3.col-xs-12
      .album
        %img.img-responsive{:alt => "music theme", :src => asset_path("3.jpg")}/
        .albumdetail
          %h5 Crazy Freso
          %a.listen{"data-target" => "#albumdetail", "data-toggle" => "modal", :href => "#"}
            %span.glyphicon.glyphicon-headphones
            Listen Song
    .col-sm-3.col-xs-12
      .album
        %img.img-responsive{:alt => "music theme", :src => asset_path("1.jpg")}/
        .albumdetail
          %h5 Crazy Freso
          %a.listen{"data-target" => "#albumdetail", "data-toggle" => "modal", :href => "#"}
            %span.glyphicon.glyphicon-headphones
            Listen Song
    .col-sm-3.col-xs-12
      .album
        %img.img-responsive{:alt => "music theme", :src => asset_path("2.jpg")}/
        .albumdetail
          %h5 Crazy Freso
          %a.listen{"data-target" => "#albumdetail", "data-toggle" => "modal", :href => "#"}
            %span.glyphicon.glyphicon-headphones
            Listen Song
    .col-sm-3.col-xs-12
      .album
        %img.img-responsive{:alt => "music theme", :src => asset_path("4.jpg")}/
        .albumdetail
          %h5 Crazy Freso
          %a.listen{"data-target" => "#albumdetail", "data-toggle" => "modal", :href => "#"}
            %span.glyphicon.glyphicon-headphones
            Listen Song
    .col-sm-3.col-xs-12
      .album
        %img.img-responsive{:alt => "music theme", :src => asset_path("4.jpg")}/
        .albumdetail
          %h5 Crazy Freso
          %a.listen{"data-target" => "#albumdetail", "data-toggle" => "modal", :href => "#"}
            %span.glyphicon.glyphicon-headphones
            Listen Song
    .col-sm-3.col-xs-12
      .album
        %img.img-responsive{:alt => "music theme", :src => asset_path("2.jpg")}/
        .albumdetail
          %h5 Crazy Freso
          %a.listen{"data-target" => "#albumdetail", "data-toggle" => "modal", :href => "#"}
            %span.glyphicon.glyphicon-headphones
            Listen Song
    .col-sm-3.col-xs-12
      .album
        %img.img-responsive{:alt => "music theme", :src => asset_path("3.jpg")}/
        .albumdetail
          %h5 Crazy Freso
          %a.listen{"data-target" => "#albumdetail", "data-toggle" => "modal", :href => "#"}
            %span.glyphicon.glyphicon-headphones
            Listen Song
    .col-sm-3.col-xs-12
      .album
        %img.img-responsive{:alt => "music theme", :src => asset_path("1.jpg")}/
        .albumdetail
          %h5 Crazy Freso
          %a.listen{"data-target" => "#albumdetail", "data-toggle" => "modal", :href => "#"}
            %span.glyphicon.glyphicon-headphones
            Listen Song