#album.releases.spacer
	%h1
		Recommender evaluation results
%img.img-responsive{:alt => "music theme", :src => "/assets/evaluation_test_10_90.png", style: "height: 720px; width:100%"}/
%br/
%img.img-responsive{:alt => "music theme", :src => "/assets/evaluation_test_50_50.png", style: "height: 720px; width:100%"}/
%br/
%img.img-responsive{:alt => "music theme", :src => "/assets/evaluation_test_90_10.png", style: "height: 720px; width:100%"}/
